$bgc: rgb(216, 216, 216);
$bgc2: rgb(32, 35, 48);
$bgc3: rgb(91, 98, 131);

$main-color: #2e3244;
$main-color-lighter: #34394f;
$main-color-darker: #272a3a;

$secondary-color: #352D44;
$secondary-color-lighter: #534868;